/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Patient_ID]
      ,[P_Name]
      ,[P_Address]
      ,[Sex]
      ,[Age]
      ,[Blood_Group]
      ,[cn]
      ,[AdmitDate]
      ,[DischargeDate]
  FROM [finalproject].[dbo].[patient]